<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        *{
            border: 0px;
            padding: 0px;
        }
        li{
            list-style: none;
        }
        .red{
            background: #ff0000 !important;
        }
        .blank{
            display: none;
        }
        #banner1{
            border-top: solid;
        }
    </style>
</head>
<!--<ul>-->
    <!--<li @click='touch' :class=clsname>衣服</li>-->
    <!--<li @click='touch' :class="">裤子</li>-->
    <!--<li @click='touch' :class="">鞋子</li>-->
    <!--<li @click='touch' :class="">iPhone8</li>-->
<!--</ul>-->
<body>
<div id="banner">
    <h1>todolist</h1>
    <div id="banner1">
        名称：
        <input type="text" id="n" placeholder="请输入产品名称" style="border: solid" v-model="name">
        价格：
        <input type="number" id="n-p" style="border: solid" value="0" v-model="price">
        <button style="border: solid" @click = "add()">增加</button>
        <br/>
        <input type="text" placeholder="请输入关键字" style="border: solid" v-model="select">
        <button style="border: solid" @click="query()">查询</button>
        <ul id="list">
            <li v-for = "(goods,index) in article" @click ="touch(goods)" style="background: #cccccc;" :class="{red: goods.isRed}">
                <input @click.stop type="checkbox" v-model="selcheck" :value="index">
                <button @click.stop @click="del(index)">[X]</button><span>{{goods.name}}</span>
                <span style="float: right">{{goods.price}}</span>
            </li>
        </ul>
        <button @click="delcheck()" style="border: solid">删除选中</button>
        <span>总价:{{total}}</span>
    </div>
</div>
<script src="vue.js"></script>
<script>
    new Vue({
        el:'#banner',
        data: {
            name:'',
            price:'',
            select:'',
            sum:0,
            selcheck:[],
            article:[
                {name: '衣服', isRed: false, price:120},
                {name: '裤子', isRed: false, price:130},
                {name: '鞋子', isRed: false, price:3999},
                {name: 'iPhone', isRed: false, price:5000}
            ]
        },
        computed: {
            total(){
                return this.article.reduce((sum,elem)=>{
                    if (elem.isRed){
                        sum+=parseInt(elem.price)
                    }
                    return sum
                },0)
            }
        },
        methods: {
            touch(obj) {
                obj.isRed = !obj.isRed;
            },
            add(){
                this.article.push({name:this.name,isRed:false,price:this.price})
            },
            del(index){
                this.article.splice(index,1);
                this.selcheck=[];
            },
            delcheck(){
                this.article = this.article.filter((elem,index)=>{
                    if (!this.selcheck.includes(index)){
                        return elem;
                    }
                    //这里是循环，在这里清空数组会导致循环只能对第一个生效
                })
                this.selcheck=[];
            },
            query(){
                this.article=this.article.filter((elem,index)=>{
                    //当需要输入部分就可以查询到时，应该讲较小的那部分作为includes里面的参数
                    if (elem.name.includes(this.select)) {
                        return elem;
                    }
                })
            }
        }
    })
</script>
</body>
</html>